/* Estilos generales */
 body {
    font-family: 'Young Serif', serif;
  background-color: rgb(213, 221, 238);
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin: 20px;
  background: linear-gradient(to right, #0943c1, #073aaf);
  -webkit-background-clip: text;
  color: transparent;
}

p {
  font-size: 1rem;
  text-align: center;
  margin: 10px;
}

/* Encabezado */
header {
  background-color: rgb(14, 50, 88);
  color: white;
  padding: 20px 0;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline;
  margin: 0 20px;
  position: relative;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* Submenu */
.submenu {
  position: relative;
}

.submenu-content {
  display: none;
  position: absolute;
  background-color: #0E3258;
  z-index: 1;
}

.submenu-content li {
  display: block;
}

.submenu:hover .submenu-content {
  display: block;
}

/* Barra de menú responsive */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
}

/* Responsiveness */
@media (max-width: 768px) {
  .menu-toggle {
      display: flex;
      justify-content: space-between;
  }

  nav ul {
      display: none;
      position: absolute;
      background-color: #0E3258;
      width: 100%;
  }

  nav ul.show {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
}
